<div class="main_content_iner">
    <div class="container-fluid p-0 sm_padding_15px">



        <div *ngIf="!is_user_authenticated" class="row justify-content-center">
            <div class="col-lg-4 mb-4">
                <div class="card text-center border-0 shadow-lg animated fadeInLeft">
                    <div class="card-body">
                        <h2 class="card-title">Welcome to Our Platform</h2>
                        <p class="card-text">Unlock exclusive features by signing up now!</p>
                        <a href="#" class="btn btn-primary btn-lg btn-block">Sign Up</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="card text-center border-0 shadow-lg animated fadeInRight">
                    <div class="card-body">
                        <h2 class="card-title">Explore Our Services</h2>
                        <p class="card-text">Discover a range of services tailored for you.</p>
                        <a href="#" class="btn btn-secondary btn-lg btn-block">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="!is_user_authenticated" class="row justify-content-center">
            <div class="col-lg-4 mb-4">
                <div class="card text-center border-0 shadow-lg animated fadeInLeft">
                    <div class="card-body">
                        <h2 class="card-title">Stay Updated</h2>
                        <p class="card-text">Subscribe to our newsletter for the latest news and updates.</p>
                        <a href="#" class="btn btn-info btn-lg btn-block">Subscribe Now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="card text-center border-0 shadow-lg animated fadeInRight">
                    <div class="card-body">
                        <h2 class="card-title">Contact Us</h2>
                        <p class="card-text">Have questions? Reach out to our support team.</p>
                        <a href="#" class="btn btn-warning btn-lg btn-block">Contact Support</a>
                    </div>
                </div>
            </div>
        </div>



        <div *ngIf="is_user_authenticated" class="row">
            <div class="col-12">
                <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                    <div class="page_title_left">
                        <h3 class="mb-0">Dashboard</h3>
                        <p>Dashboard/Crypto currenct</p>
                    </div>
                    <div class="monitor_list_widget">
                        <div class="simgle_monitor_list">
                            <div class="simgle_monitor_count d-flex align-items-center">
                                <span>Purchase</span>
                                <div id="monitor_1"></div>
                            </div>
                            <h4 class="counter">6,250</h4>
                        </div>
                        <div class="simgle_monitor_list">
                            <div class="simgle_monitor_count d-flex align-items-center">
                                <span>Purchase</span>
                                <div id="monitor_2"></div>
                            </div>
                            <h4>₹ <span class="counter">55,250</span> </h4>
                        </div>
                        <div class="simgle_monitor_list">
                            <div class="simgle_monitor_count d-flex align-items-center">
                                <span>Purchase</span>
                                <div id="monitor_3"></div>
                            </div>
                            <h4>₹ <span class="counter">451.6 </span>M </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <div *ngIf="is_user_authenticated" class="row ">
            <div class="col-xl-12">
                <div class="white_card  mb_30">
                  
                    <div class="white_card_body anlite_table p-0">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="single_analite_content">
                                    <h4>Total Income</h4>
                                    <h3>₹ <span class="counter">{{total_income}}</span> </h3>
                                    <div class="d-flex">
                                        <div>3.78 <i class="fa fa-caret-up"></i></div>
                                        <span>This month</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="single_analite_content">
                                    <h4>Total Expense</h4>
                                    <h3><span class="counter">{{total_expenses}}</span> </h3>
                                    <div class="d-flex">
                                        <div>3.78<i class="fa fa-caret-up"></i></div>
                                        <span>This month</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="single_analite_content">
                                    <h4>Ethereum Wallet</h4>
                                    <h3><span class="counter">8025</span> </h3>
                                    <div class="d-flex">
                                        <div>3.78 <i class="fa fa-caret-up"></i></div>
                                        <span>This month</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="single_analite_content">
                                    <h4>Number of Clients</h4>
                                    <h3><span class="counter">5645</span> </h3>
                                    <div class="d-flex">
                                        <div>3.78 <i class="fa fa-caret-up"></i></div>
                                        <span>This month</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="expense-by-category-container border-double">
                    <h2 class="text-center mb-4">Expenses by Category</h2>
                    <div class="row">
                      <div class="col-sm-4" *ngFor="let c of category_expenses">
                        <div class="card expense-card">
                          <div class="card-body">
                            <h5 class="card-title">{{ c.category__name }}</h5>
                            <p class="card-text">{{ c.total_amount | currency:'INR' }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  
            </div>
            

          
            <div class="col-xl-12">
                <div class="white_card   card_height_100 mb_30">
                    <div class="white_card_header">
                        <div class="box_header m-0 flex-wrap">
                             <div class="main-title mb_10">
                                                        <h3 class="m-0"> Expense Trends</h3>

                            </div> 
                            <div class="view_btns">
                                <a href="#" class="mr_5 mb_10  small_blue_btn active">All</a>
                                <a href="#" class="mr_5 mb_10  small_blue_btn active">1M</a>
                                <a href="#" class="mr_5 mb_10  small_blue_btn">6M</a>
                                <a href="#" class="mr_5 mb_10  small_blue_btn">1Y</a>
                                <a href="#" class="mr_5 mb_10  small_blue_btn">YTD</a>
                            </div>
                        </div>
                    </div>
                    <div class="white_card_body">
                        <div class="row "> <!--justify-content-center-->
                            <div class="col">
                                <div class="card_box box_shadow position-relative mb-4">
                                   
                                    <div>
                                        <apx-chart [series]="ExpenseTrendchartOptions.series" [chart]="ExpenseTrendchartOptions.chart" [annotations]="ExpenseTrendchartOptions.annotations"
                                          [colors]="ExpenseTrendchartOptions.colors" [dataLabels]="ExpenseTrendchartOptions.dataLabels" [stroke]="ExpenseTrendchartOptions.stroke"
                                          [labels]="ExpenseTrendchartOptions.labels" [legend]="ExpenseTrendchartOptions.legend" [markers]="ExpenseTrendchartOptions.markers"
                                          [fill]="ExpenseTrendchartOptions.fill" [tooltip]="ExpenseTrendchartOptions.tooltip" [plotOptions]="ExpenseTrendchartOptions.plotOptions"
                                          [responsive]="ExpenseTrendchartOptions.responsive" [xaxis]="ExpenseTrendchartOptions.xaxis" [yaxis]="ExpenseTrendchartOptions.yaxis"
                                          [forecastDataPoints]="ExpenseTrendchartOptions.forecastDataPoints" [grid]="ExpenseTrendchartOptions.grid" [states]="ExpenseTrendchartOptions.states"
                                           [subtitle]="ExpenseTrendchartOptions.subtitle" [theme]="ExpenseTrendchartOptions.theme"
                                          [autoUpdateSeries]="ExpenseTrendchartOptions.autoUpdateSeries">
                                        </apx-chart>
                                      </div>
                                      
                                      
                
                                </div>
                            </div>
                           
                        </div>

                    </div>
                </div>
            </div>
       
            
           
        </div>

       
    </div>
</div>
