<div class="card p-4 shadow-lg bg-light rounded">
    <h2 class="card-title text-center mb-4 text-primary">{{formType}} Expense</h2>
    
    <form #ExpenseForm="ngForm" (ngSubmit)="onFormSubmit()" class="form-container">
      <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <input type="text" id="description" name="description" class="form-control" [(ngModel)]="expense.description" (input)="predictCategory(expense.description)" required>
      </div>
  
      <div class="mb-3">
        <label for="amount" class="form-label">Amount (INR):</label>
        <input type="number" id="amount" name="amount" class="form-control" [(ngModel)]="expense.amount" required>
      </div>
  
      <div class="mb-3">
        <label for="category" class="form-label">Category:</label>
        <select id="category" name="category" class="form-select" [(ngModel)]="predictedCategory" required>
          <option *ngFor="let cat of categories" [ngValue]="cat.name" class="dropdown-item">{{ cat.name }}</option>
        </select>
      </div>
  
      <div class="mb-3">
        <label for="date" class="form-label">Date:</label>
        <input type="date" id="date" name="date" class="form-control" [(ngModel)]="expense.date" required>
      </div>
  
      <div class="row">
        <div class="col d-flex justify-content-center">
          <button type="submit" class="btn btn-primary">{{formType}} Expense</button>
        </div>
      </div>
    </form>
   
  </div>