<div class="container-fluid g-0">
    <div class="row">
      <div class="col-12 p-0">
        <div class="header_iner d-flex justify-content-between align-items-center">
          <div class="sidebar_icon d-lg-none" (click)="onBurgerMenuClick()">
            <i class="ti-menu"></i>
          </div>
          <div class="line_icon open_miniSide d-none d-lg-block" (click)="onMenuClick()">
            <img src="static/img/line_img.png" alt="menu">
          </div>
          <div class="header_right d-flex justify-content-between align-items-center">
            <div *ngIf="is_user_authenticated" class="profile_info d-flex align-items-center">
              <div class="profile_thumb me-2">
                <img src="static/img/transfer/4.png" alt="profile picture">
              </div>
              <div class="author_name">
                <h4 class="f_s_15 f_w_500 mb-0">{{user.username}}</h4>
                <p class="f_s_12 f_w_400">Manager</p>
              </div>
              <div class="profile_info_iner">
                <div class="profile_author_name">
                  <p>Manager</p>
                  <h5>Jiue Anderson</h5>
                </div>
                <div class="profile_info_details">
                  <a href="#">My Profile</a>
                  <a href="#">Settings</a>
                  <div (click)="logOut()">Log Out</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  