<apx-chart
  [series]="histogramData"
  [chart]="histogramChartOptions.chart"
  [xaxis]="histogramChartOptions.xaxis"
  [yaxis]="histogramChartOptions.yaxis"
  [plotOptions]="histogramChartOptions.plotOptions"
  [dataLabels]="histogramChartOptions.dataLabels"
  [grid]="histogramChartOptions.grid"
  [stroke]="histogramChartOptions.stroke"
  [fill]="histogramChartOptions.fill"
  [tooltip]="histogramChartOptions.tooltip"
  [legend]="histogramChartOptions.legend"
  [theme]="histogramChartOptions.theme"
></apx-chart>