



<div class="main_content_iner ">
    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="dashboard_header mb_50">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="dashboard_header_title">
                                <h3> Reset Password</h3>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="dashboard_breadcam text-end">
                                <p><a href="index.html">Dashboard</a> <i class="fas fa-caret-right"></i> Reset
                                    Password</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="white_box mb_30">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">

                            <div class="modal-content cs_modal">
                                <div class="modal-header theme_bg_1">
                                    <h5 class="modal-title text_white">Reset Password</h5>
                                </div>
                                <div class="modal-body">

                                    <form #resetPasswordForm="ngForm" (ngSubmit)="resetPassword()" class="fade-in">
                                        <div class="mb-3">
                                            <label for="password" class="form-label">New Password:</label>
                                            <input type="password" id="password" name="password" class="form-control" [(ngModel)]="user.new_password" required>
                                        </div>
                            
                                        <div class="mb-3">
                                            <label for="confirmPassword" class="form-label">Confirm Password:</label>
                                            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" [(ngModel)]="user.confirm_password" required>
                                        </div>
                            
                                        <button type="submit" class="btn_1 full_width text-center" [disabled]="resetPasswordForm.invalid">Reset Passwordl</button>

                                    </form>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>